pip>=21.1.2
setuptools==62.1.0
cachetools==5.0.0
certifi==2021.10.8
chardet==4.0.0
config==0.5.1
python-dateutil==2.8.2
future==0.18.2
google-api-core==2.7.2
google-api-python-client==2.46.0
google-auth==2.6.6
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.1
googleapis-common-protos==1.56.0
httplib2==0.20.4
humanfriendly==10.0
idna==3.3
oauthlib==3.2.0
Pillow==9.1.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyDispatcher==2.0.5
pytz==2022.1
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
six==1.16.0
uritemplate==4.1.1
urllib3==1.26.9
py7zr==0.18.5
watchdog==2.1.7
psutil==5.9.0
grpcio==1.44.0
grpcio-tools==1.44.0
protobuf==3.20.1
keyring==23.5.0
zeroconf==0.38.5
netifaces==0.11.0
#python-nmap==0.6.1
#pycairo==1.19.1
#PyGObject==3.36.0
#PyGObject-stubs==0.0.2

# For debug webapps
flask>=2.1.2
flask-classful>=0.14.2
